ul {
    list-style: none;
    margin-right: 100px;
}

.top-section {
    background-color: #1f2937;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

h1,
p {
    color: #fff;
}

.still-top-section {
    width: 320px;
    margin-left: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.top-side-right {
    margin-right: 200px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.name {
    font-size: 34px;
    padding: 8px 12px 12px 32px;
    color: #fff;
    font-family: cursive;
    
}

ul li.navbar  {
    float: right;
    padding: 12px;
    font-size: 1.2rem;
    color: rgb(179, 179, 189);
}

ul li.navbar a:hover {
    color: dodgerblue;
}

img.businessCard {
    margin-bottom: 30px;
}

.random {
    text-align: center;
    font-size: 26px;
}

.second-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.text {
    margin: 10px;
}

.third-section {
    background-color: #e5e7eb;
}

.lorem-ipsum p {
    color: black;
    padding: 85px 130px 85px 130px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 65%;
    background-color: rgb(73, 73, 235);
    border-radius: 12px;
    margin: 50px;
}

.btn {
    height: 30px;
    width: 100px;
    float: right;
    margin: 39px 30px 0 0;
    border-radius: 7px;
    border: 2px solid white;
    background-color: rgb(73, 73, 235);
    color: #fff;
}

.last-class {
    margin: 39px 0 0 35px;
}

button:hover {
    color: black;
    background-color: white;
}

.about-page {
    text-align: center;
    font-weight: 900;
    font-family: cursive;
    margin: 40px;
    padding: 40px;
    color: black;
    font-size: 36px;
    width: 75%;

}

input {
    margin: 16px 8px 0 88px;
    padding: 8px;
    width: 280px;
    border-radius: 7px;

}

.contact-button {
    margin: 16px 8px 9px 99px;
    background-color: #1f2937;
    color: #fff;
    padding: 4px 34px 4px 34px;
    border-radius: 7px;
}
